<ion-content>
  <div id="header">
    <div id="app-bar">
      <div></div>
    </div>
    
    <div class="header-logo">
      <img src="assets/logo-tellevo.png" alt="Logo de la Empresa" class="logo-icon">
    </div>

    <h1 class="centered-text">Pagina de registro</h1>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-input
              [(ngModel)]="alumno.username"
              type="text"
              placeholder="Ingrese su usuario"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="mail"></ion-icon>
            <ion-input
              [(ngModel)]="alumno.email"
              type="email"
              placeholder="Ingrese su correo"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="lock-closed"></ion-icon>
            <ion-input
              [(ngModel)]="alumno.password"
              type="password"
              placeholder="Ingrese su contraseña"
            ></ion-input>
          </ion-item>
          <ion-button expand="block" color="secondary" (click)="registrar()">
            Registrar
          </ion-button>
          <ion-text class="register-link">
            <a [routerLink]="['/login']">¿Ya tienes una cuenta? Inicia sesión aquí</a>
          </ion-text>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
