<ion-content>
  <div id="header">
    <div id="app-bar">
      <div></div>
    </div>

    <div class="header-logo">
      <img src="assets/logo-tellevo.png" alt="Logo de la Empresa" class="logo-icon">
    </div>

    <h1 class="centered-text">Recuperar Contraseña</h1>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input type="text" [(ngModel)]="reset.first_password"
            placeholder="Escribe una nueva contraseña"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="reload"></ion-icon>
          <ion-input type="text" [(ngModel)]="reset.second_password" placeholder="Repite tu contraseña"></ion-input>
        </ion-item>

        <ion-button expand="block" color="secondary" (click)="validatePassword()">Recuperar contraseña</ion-button>

        <ion-text class="devolver-pagina-inicio">
          <a [routerLink]="['/login']">Volver a pagina principal</a>
        </ion-text>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>