

<ion-content class="ion-padding">
  <div class="cards-container">
  <div class="welcome-container">
    <h1 class="welcome-title">Hola 👋</h1>
    <p class="welcome-subtitle">{{ email }}</p>
  </div>


    <ion-grid>
      <ion-row>
        <ion-col size="6"> 
          <ion-card>
            <img src="assets/encontrar-viaje.png" alt="Imagen de un auto" class="card-image">
            <ion-card-content>
              <div class="card-title">Encuentra Viajes</div> 
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6"> 
          <ion-card>
            <img src="assets/ofrecer-viaje.png" alt="Imagen de un auto" class="card-image"> 
            <ion-card-content>
              <div class="card-title">Ofrece Viajes</div> 
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>