<ion-content>
  <div id="header">
    <div id="app-bar">
      <div></div>
    </div>

    <div class="header-logo">
      <img src="assets/logo-tellevo.png" alt="Logo de la Empresa" class="logo-icon">
    </div>

    <h1 class="centered-text">Iniciar Sesión</h1>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          <ion-input type="email" placeholder="Email" [(ngModel)]="alumno.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input type="password" placeholder="Contraseña" [(ngModel)]="alumno.password"></ion-input>
        </ion-item>
        <mat-checkbox id="btn-recordarPassword" [(ngModel)]="recordarPassword">Recordar contraseña</mat-checkbox>
        <ion-button expand="block" color="secondary" (click)="validarLogin()">Iniciar Sesión</ion-button>

        <ion-text class="forgot-password-text">
          <a [routerLink]="['/forgot-password']">¿Olvidaste tu contraseña?</a>
        </ion-text>
        <ion-text class="register-link">
          <a [routerLink]="['/registro']">No tienes cuenta? Crea una aquí</a>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="spinner" id="spinner-container">
    <ion-spinner name="circular"></ion-spinner>
  </div>
</ion-content>
