ion-content {
  --background: #eeeeee;
}

.header-logo {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.logo-icon {
  width: 100px;
  height: auto;
}

.centered-text {
  text-align: center;
}

#header {
  height: 33%;
  background: #012c56;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
}

#app-bar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-icon {
  font-size: 24px; 
  margin-right: 10px; 
}

h1 {
  font-size: 19px;
  margin-bottom: 5px;
}

p {
  font-size: 15px;
  line-height: 1.4;
}

.wrapper {
  position: absolute;
  top: 26%;
  left: 4%;
  right: 4%;
}

.form-wrapper {
  background-color: #ffff;
  box-shadow: none;
  border-radius: 20px;
  padding: 15px 10px;
}

ion-item {
  --background: #efefef;
  --padding-start: 10px;
  --highlight-height: 0;
  --border-width: 0;
  --padding-top: 0;
  --min-height: 50px; 
  margin-bottom: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

ion-icon {
  color: #666666;
  font-size: 24px; 
  margin-right: 10px;
}

ion-input {
  color: #666666;
  font-size: 14px;
}

ion-button {
  margin-top: 15px;
}

.forgot-password-text {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.forgot-password-text a {
  color: var(--ion-color-primary);
  font-size: 0.9em;
}

.forgot-password-text a:hover {
  text-decoration: underline;
}

#spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
