

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- Botón con ícono de casa -->
        <ion-button (click)="redirect_to_home()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title size="large">Mantenedor Usuarios</ion-title>
    </ion-toolbar>
  </ion-header>

  
  
  <div id="container">
    <ion-card>
  <ion-card-header>
    <ion-card-title>Mantenedor Usuarios</ion-card-title>
    <ion-icon name="home-outline"></ion-icon>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <!-- Botón para mostrar el formulario -->
        <ion-button fill="clear" slot="end" (click)="toggleFormulario()">
          Agregar nuevo Usuario
        </ion-button>
      </ion-item>

      <!-- Formulario para agregar un nuevo alumno, visible solo cuando mostrarFormulario es true -->
      <div *ngIf="mostrarFormulario" class="formulario-container">
        <ion-item>
          <ion-label position="floating">Nombre Usuario</ion-label>
          <ion-input [(ngModel)]="nuevoAlumno.nombre_usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo Usuario</ion-label>
          <ion-input [(ngModel)]="nuevoAlumno.email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña Usuario</ion-label>
          <ion-input [(ngModel)]="nuevoAlumno.password" type="password"></ion-input>
        </ion-item>
        <ion-button (click)="crearAlumno()" expand="block" class="action-button">Agregar Alumno</ion-button>
      </div>

      <div *ngIf="mostrarFormularioEditar" class="formulario-container">
        <h2>Editar Alumno</h2>
        <ion-item>
          <ion-label position="floating">Nombre Usuario</ion-label>
          <ion-input [(ngModel)]="alumnoSeleccionado.nombre_usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo Usuario</ion-label>
          <ion-input [(ngModel)]="alumnoSeleccionado.email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña Usuario</ion-label>
          <ion-input [(ngModel)]="alumnoSeleccionado.password" type="string"></ion-input>
        </ion-item>
        <ion-button class="action-button" (click)="modificarAlumno(alumnoSeleccionado.id, alumnoSeleccionado)" expand="block">Actualizar Alumno</ion-button>
      </div>



      <ion-grid fixed>
        <ion-row>
          <ion-col><strong>Nombre Usuario</strong></ion-col>
          <ion-col><strong>Correo Usuario</strong></ion-col>
          <ion-col><strong>Contraseña Usuario</strong></ion-col>
          <ion-col><strong>Modificar</strong></ion-col>
          <ion-col><strong>Eliminar</strong></ion-col>
        </ion-row>
        
        <!-- Lista de alumnos -->
        <ion-row *ngFor="let alumno of alumnos">
          <ion-col>{{alumno.nombre_usuario}}</ion-col>
          <ion-col> {{alumno.email}} </ion-col>
          <ion-col> {{alumno.password}} </ion-col>
          <ion-col (click)="editarAlumno(alumno)">
            <ion-button fill="outline" size="small">
              Modificar
            </ion-button>
          </ion-col>
          <ion-col (click)="eliminarAlumno(alumno.id)">
            <ion-button class="delete-button" fill="outline" size="small">
              Eliminar
            </ion-button>
          </ion-col>
        </ion-row>

        <!-- Spinner mientras se cargan los alumnos -->
        <ion-spinner *ngIf="alumnos.length === 0"></ion-spinner>
      </ion-grid>
    </ion-list>
  </ion-card-content>
</ion-card>

  </div>

















</ion-content>
